body{
    background-color: black;
    .head{
        color: rgb(0, 112, 6);
        text-align: center;
        font-size: 4rem;
    }
    .para{
        color: rgb(0, 112, 6);
        text-align: center;
        margin-top: -2rem;
    }
    .div{
        margin-left: auto;
        margin-right: auto;
        width: 50%;
        border-radius: 30px;
        box-shadow:rgb(0, 112, 6) 2px 2px 2px 2px ;
        height: 7rem;
    }
    .divHead{
        color: rgb(0, 112, 6);
        text-align: center;
        position: relative;
        top: 1rem;
        font-size: 1.8rem;
    }
    .riddle{
        color: rgb(0, 112, 6);
        text-align: center;
        font-size: 1.1rem;
    }
}