body{
    background-color: black;
    .head{
        color: rgb(204, 173, 0);
        text-align: center;
        font-size: 5rem;
    }
    .lining{
        color: rgb(173, 147, 0);
        font-size: 1.1rem;
        width: 50%;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
    .name{
        text-align: center;
        color: rgb(173, 147, 0);
    }
}